<html>
    <head>
        <meta charset="UTF-8">
        <title> register </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style2.css') }}">  
        <style>
            .button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  border: none; /* Remove borders */
  border-radius: 4px; /* Rounded corners */
}
        </style>  
    </head>
    <body>
        <header>
            <nav class="navbar">
                <div class="container">
                    <h1 class="logo">Mental Health Support</h1>
                </div>
            </nav>
        </header>
        <div class="registercontent">
            <div class="registertop" align="center">
                <h1>Register</h1>
            </div>
            <div class="registerbottom" align="center">
            <form action="{{ url_for('register')}}" method="post" autocomplete="off">
            <div class="msg">{{ msg }}</div>
            <input type="text" name="username" placeholder="Enter Your Username" class="textbox" id="username" required></br>
            <input type="password" name="password" placeholder="Enter Your Password" class="textbox" id="password" required></br>
            <input type="email" name="email" placeholder="Enter Your Email ID" class="textbox" id="email" required></br></br>
            <input type="text" name="organisation" placeholder="Enter Your Organisation" class="textbox" id="organisation" required></br>
            <input type="text" name="address" placeholder="Enter Your Address" class="textbox" id="address" required></br>
            <input type="text" name="city" placeholder="Enter Your City" class="textbox" id="city" required></br>
            <input type="text" name="state" placeholder="Enter Your State" class="textbox" id="state" required></br>
            <input type="text" name="country" placeholder="Enter Your Country" class="textbox" id="country" required></br>
            <input type="text" name="postalcode" placeholder="Enter Your Postal Code" class="textbox" id="postalcode" required></br>
            <a href="{{ url_for('thankyou')}}" ><input type="button" class="btn" value="Register"></a>
            </form>
            <p class="worddark">Already have account? <a class="worddark" href="{{ url_for('login')}}">Login here</a></p>
            </div>
        </div>
        <footer>
            <p>Contact us for more information</p>
        </footer>
    </body>
</html>